#expense-claim-key-data
  = ExpenseClaimPresenter.form_factory(self,
                                       expense_claim,
                                       class: 'form',
                                       data: { target: 'expense-claim.claimForm',
                                               action: 'ajax:complete->expense-claim#ajaxClaimSubmitComplete' } ) do |expense_claim_form|
    .form-group.row
      = expense_claim_form.label :description, class: "col-2 col-form-label"
      .col-10= expense_claim_form.form_field :description, :text_field
    .form-group.row
      = expense_claim_form.label :date, class: "col-2 col-form-label"
      .col-2= expense_claim_form.form_field :claim_date, :date_field