-# This partial represents the form to manage an entire expense claim.  It consists of a top half with fields
-# for the expense claim, and then individual rows for each expense entry.

- show_only = local_assigns.fetch :show_only, false

- if expense_claim.errors.any?
  .error_explanation
    %h2
      #{pluralize(expense_claim.errors.count, "error")} prohibited this expense_claim from being saved

#expense-claim{ data: { controller: "expense-claim" } }
  #expense-claim-actions
    = link_to export_excel_expense_claim_path(@expense_claim, data: { action: 'click->expense-claim#downloadExcel'}) do
      %i.fas.fa-file-excel.fa-2x
    %button{ type: 'button', data: { toggle: 'modal', target: '#import_csv_modal' } }
      %i.fas.fa-file-upload.fa-2x

  #expense-claim-key-data= render partial: 'expense_claim_key_data', layout: false, status: :ok,
                                            locals: { expense_claim: @expense_claim }

  #expense-entries-header
    .form-row
      .form-group.col-1 Seq
      .form-group.col-2 Date
      .form-group.col-2 Category
      .form-group.col-1 Description
      .form-group.col-1 Project Code
      .form-group.col-1 VAT
      .form-group.col-1 Qty
      .form-group.col-1 Unit Cost
      .form-group.col-1 Total Cost
      .form-group.col-1 Actions

  #expenses-claim-table{ data: { action: ExpenseEntryPresenter.actions_for_claim_table,
                                 target: 'expense-claim.claimTable',
                                 expense_claim_current_expense_entry: '' } }
    - @expense_claim.expense_entries.order(:sequence).each do |expense_entry|
      = render partial: 'expense_entries/expense_entry',
               locals: { expense_entry: expense_entry, expense_claim: @expense_claim }
    - if @expense_claim.expense_entries.count == 0
      = render partial: 'expense_entries/expense_entry',
               locals: { expense_entry: ExpenseEntry.new(expense_claim: @expense_claim), expense_claim: @expense_claim }

  #expenses-claim-total-row
    %form.form
      #total-row.form-row
        .form-group.col-10 Total
        .form-group.col-1
          %input.form-control{ data: { target: "expense-claim.totalClaim"}, disabled: "true", type: "text", value: @expense_claim.total }

  %template#expense-entry-empty-row= render partial: 'expense_entries/expense_entry', layout: false, status: :ok,
                                            locals: { expense_entry: ExpenseEntry.new(expense_claim: expense_claim), expense_claim: @expense_claim }

  -# ToDo move this into a little helper

  - if show_only
    :javascript
      $("#expense_form input").prop("disabled", true);
      $("#expense_form select").prop("disabled", true);

.modal.fade#import_csv_modal{role: 'dialog'}
  .modal-dialog
    .modal-content{align: 'center'}
      .modal-header
        %h3 Select Excel export from Barclay Card for upload
      .modal-body
        = form_tag barclay_csv_import_expense_claim_path, multipart: true do
          .form-row
            .custom-file.col-6
              = file_field_tag :file, class: 'custom-file-input', id: 'file-import-field'
            = label_tag 'file-import-field', 'Choose', class: 'custom-file-label'
          .form-row{ align: 'center' }
            = submit_tag 'Import', class: 'btn btn-primary'
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel

:javascript
  $(document).ready(function () {
    bsCustomFileInput.init()
  } );
