<% show_only = local_assigns.fetch :show_only, false %>

<% if expense_claim.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(expense_claim.errors.count, "error") %> prohibited this expense_claim from being saved:</h2>

    <ul>
      <% expense_claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @expense_claim, data: { controller: 'expense-claim' } do |expense_form| %>
  <div class="form-group row">
    <%= expense_form.label :description, class:  "col-2 col-form-label" %>
    <div class="col-10">
      <%= expense_form.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= expense_form.label :claim_date, class:  "col-2 col-form-label" %>
    <div class="col-10">
      <%= expense_form.date_field :claim_date %>
    </div>
  </div>

  <% unless show_only %>
    <div class="form-group row">
      <%= expense_form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<div id="expenses-entry-table" data-controller="expense-rows"
     data-action="resequence->expense-rows#resequence recalcTotalClaim->expense-rows#sumTotalCosts focusin->expense-rows#submitChangedForms">
  <div class="form-row">
    <div class="form-group col-2">
      <label>Date</label>
    </div>
    <div class="form-group col-2">
      <label>Category</label>
    </div>
    <div class="form-group col-2">
      <label>Description</label>
    </div>
    <div class="form-group col-1">
      <label>Project Code</label>
    </div>
    <div class="form-group col-1">
      <label>VAT</label>
    </div>
    <div class="form-group col-1">
      <label>Qty</label>
    </div>
    <div class="form-group col-1">
      <label>Unit Cost</label>
    </div>
    <div class="form-group col-1">
      <label>Total Cost</label>
    </div>
    <div class="form-group col-1">
      <label>Actions</label>
    </div>
  </div>

  <% @expense_claim.expense_entries.order(:sequence).each do |expense_entry| %>
    <%= render partial: 'expense_entries/expense_entry', locals: { expense_entry: expense_entry,
                                                                   expense_claim: @expense_claim,
                                                                   ajax_actions: "ajax:error->expenses#errorOnRow" } %>
  <% end %>

  <form class="form">
    <div id="total-row" class="form-row">
      <div class="form-group col-10">
        Total
      </div>
      <div class="form-group col-1">
        <input class="form-control" type="text" disabled="true" data-target="expense-rows.totalClaim" value="<%= @expense_claim.total %>"/>
      </div>
    </div>
  </form>


  <template id="expense-entry-empty-row">
    <%= render partial: 'expense_entries/expense_entry', layout: false, status: :ok,
               locals: { expense_entry: ExpenseEntry.new(expense_claim: expense_claim), expense_claim: @expense_claim,
                         ajax_actions: 'ajax:success->expense-entry#replaceRow  ajax:error->expense-entry#replaceRow' } %>

  </template>
</div>

  <% # ToDo move this into a little helper %>

<% if show_only %>
  <script>
      $("#expense_form input").prop("disabled", true);
      $("#expense_form select").prop("disabled", true);
  </script>
<% end %>
