<p id="notice"><%= notice %></p>

<h1>Expense Claims</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_claims.each do |expense_claim| %>
      <tr>
        <td><%= expense_claim.description %></td>
        <td><%= expense_claim.claim_date %></td>
        <td>
          <%= link_to 'Show', expense_claim %>
          <%= link_to 'Edit', edit_expense_claim_path(expense_claim) %>
          <%= link_to 'Delete', expense_claim, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense Claim', new_expense_claim_path %>
