- content_for :menu_back do
  = tag.li link_to('Back', edit_expense_claim_path(@expense_claim), class: 'nav-link'), class: 'nav-item'

%h1 Claim
%h2 Summary

%table.table
  %tbody
    %tr
      %td Name
      %td= @expense_claim.user.email
    %tr
      %td Description
      %td= @expense_claim.description
    %tr
      %td Date
      %td= @expense_claim.claim_date.strftime("%d/%m/%Y")
    %tr
      %td Total Claim
      %td= @expense_claim.total.format

%h2 Entries

%table.table.table-striped
  %thead
    %tr
      %th{scope: 'col'} Seq
      %th{scope: 'col'} Date
      %th{scope: 'col'} Category
      %th{scope: 'col'} Description
      %th{scope: 'col'} Project Code
      %th{scope: 'col'} VAT
      %th{scope: 'col'} Qty
      %th{scope: 'col'} Unit Cost
      %th{scope: 'col'} Total Cost

  %tbody
    - @expense_claim.expense_entries.order(:sequence).each do |expense_entry|
      - expense_entry_presenter = ExpenseEntryForPrintPresenter.new(self, expense_entry)
      %tr
        %th{:scope => "row"}= expense_entry_presenter.sequence
        %td= expense_entry_presenter.date
        %td= expense_entry_presenter.category
        %td= expense_entry_presenter.description
        %td= expense_entry_presenter.project
        %td.text-right= expense_entry_presenter.vat
        %td.text-right= expense_entry_presenter.qty
        %td.text-right= expense_entry_presenter.unit_cost
        %td.text-right= expense_entry_presenter.total_cost


%h1 Receipts

- @expense_claim.expense_entries_with_receipts.each do |expense_entry|
  %section
    - if expense_entry.email_receipt
      %h3{class: expense_entry.sequence>1 && 'page-break'} Receipt for #{expense_entry.sequence}: #{expense_entry.description}
      = render 'expense_entries/email_receipt', email_receipt: expense_entry.email_receipt
      .page-break
    - elsif expense_entry.receipt.attached?
      %h3{class: expense_entry.sequence>1}  Receipt for #{expense_entry.sequence>1}: #{expense_entry.description}
      = image_tag expense_entry.receipt, class: 'receipt-img'
