-# This partial represents a single entry line for an expense claim.

- expense_entry_presenter = ExpenseEntryPresenter.new(self, expense_entry)

.expense-entry{ id: expense_entry_presenter.row_id, class: expense_entry_presenter.background,
                data: { controller: "expense-entry", action: expense_entry_presenter.actions_for_expense_entry_div } }
  = expense_entry_presenter.create_form(expense_entry_presenter.form_hash) do
    = expense_entry_presenter.expense_claim_id
    .form-row.align-items-top
      .form-group.col-1{ data: { action: 'mousedown->expense-entry#mousedown mouseup->expense-entry#mouseup' } }
        = expense_entry_presenter.sequence
      .form-group.col-2= expense_entry_presenter.form_field :date, :date_field
      .form-group.col-2= expense_entry_presenter.categories
      .form-group.col-6
        .input-group
          = expense_entry_presenter.description
          .input-group-append
            - expense_entry_presenter.matching_cc_dropdown do |matching_cc_list|
              .dropdown.dropleft
                %button.btn.btn-outline-secondary.dropdown-toggle{ type: "button",
                                                                   aria_haspopup: true, aria_expanded: false,
                                                                   data: { toggle: 'dropdown' } }
                .dropdown-menu
                  - matching_cc_list.each_pair do |category, matches|
                    %h6.dropdown-header= category
                    - matches.each do |match|
                      %a.dropdown-item{ h_ref: '#', data: { action: "click->expense-entry#copyDescriptionFromCC"} }= match
            %button.btn.btn-outline-secondary{ data: { action: "click->expense-entry#clearDescription" } }
              %i.fa.fa-times
      .form-group.col-1
        %span{ data: { toggle: 'modal', target: '#receipt-modal' } }
          %button.expenses-button{ type: 'button', data: { toggle: 'tooltip',
                                                           placement: 'top',
                                                           title: 'Receipt',
                                                           action: 'click->expense-entry#receiptUpload' } }
            %i.fas.fa-receipt.fa-2x.expenses-action-icon
    .form-row.align-items-top.justify-content-end
      .form-group.col-1= expense_entry_presenter.form_field :project, :text_field
      .form-group.col-1= expense_entry_presenter.vat
      .form-group.col-1= expense_entry_presenter.qty
      .form-group.col-1= expense_entry_presenter.unit_cost
      .form-group.col-1= expense_entry_presenter.total_cost
      .form-group.col-1
        = expense_entry_presenter.delete_button
        = expense_entry_presenter.insert_button
        = expense_entry_presenter.copy_button

    = expense_entry_presenter.receipt_image