<div class="expenses-row" draggable="true"
     data-controller="expense-entry" data-target="drag-item.row" data-record-id="<%= expense_entry.id %>" data-expense-entry-change-pending="0"
     data-action="focusin->expense-entry#focusEvent change->expense-entry#changeEvent">
  <%= form_with model: expense_entry, class: 'form',
                data: { action: callbacks, reference_change_pending: '0', type: 'json' } do |expense_entry_form| %>
    <% expense_entry_presenter = ExpenseEntryPresenter.new(self, expense_entry_form) %>

    <%= expense_entry_presenter.expense_claim_id %>

    <div class="form-row align-items-center">
      <div class="form-group col-2">
        <%= expense_entry_presenter.date %>
      </div>
      <div class="form-group col-2">
        <%= expense_entry_presenter.categories %>
      </div>
      <div class="form-group col-2">
        <%= expense_entry_presenter.description %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.project %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.vat %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.qty %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.unit_cost %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.total_cost %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.delete_button do %>
          <i class="fas fa-trash fa-2x expenses-action-icon"></i>
        <% end %>

        <%= expense_entry_presenter.insert_button do %>
          <i class="fas fa-plus-square fa-2x expenses-action-icon"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
