<% expense_entry_presenter = ExpenseEntryPresenter.new(self, expense_entry) %>

<div id="<%= expense_entry_presenter.row_id %>" class="expenses-row" draggable="true" data-controller="expense-entry" data-target="expense-entry.row"
     data-action="dragstart->expense-entry#dragstart dragenter->expense-entry#dragenter dragover->expense-entry#dragover drop->expense-entry#drop">
  <%= expense_entry_presenter.form(ajax_actions) do %>
    <%= expense_entry_presenter.expense_claim_id %>
    <%= expense_entry_presenter.sequence %>

    <div class="form-row align-items-center">
      <div class="form-group col-2">
        <%= expense_entry_presenter.date %>
      </div>
      <div class="form-group col-2">
        <%= expense_entry_presenter.categories %>
      </div>
      <div class="form-group col-2">
        <%= expense_entry_presenter.description %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.project %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.vat %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.qty %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.unit_cost %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.total_cost %>
      </div>
      <div class="form-group col-1">
        <%= expense_entry_presenter.delete_button %>
        <%= expense_entry_presenter.insert_button %>
        <%= expense_entry_presenter.copy_button %>
      </div>
    </div>
  <% end %>
</div>
