= FileReceiptPresenter.create_current_receipt_form(self) do |receipt_form_presenter|
  = receipt_form_presenter.receipt_size_radio_group

  .form-group#current-receipt-image-placeholder

  .form-group.btn-toolbar{ align: 'center' }
    = receipt_form_presenter.apply_btn
    = receipt_form_presenter.destroy_btn
    = receipt_form_presenter.cancel_btn