#receipt_from_email
  %h4 Copy the below Email address and forward receipt to it

  = EmailReceiptPresenter.create_upload_form(self, 'receipt-from-email-form', :email_receipts) do |receipt_form_presenter|
    = receipt_form_presenter.hidden_field :email_receipt_token, class: 'form-control', readonly: true,
                                                                data: { target: 'receipt.emailReceiptToken' }

    .form-group
      = receipt_form_presenter.text_field :email_address, class: 'form-control', readonly: true,
                                                          data: { target: 'receipt.emailAddress' }

    .form-group.btn-toolbar{ align: 'center' }
      = receipt_form_presenter.submit 'Copy to Clipboard', class: 'btn btn-primary mx-auto',
                                         data: { action: 'receipt#copyToClipboard' }
      = receipt_form_presenter.cancel_btn
