#receipt_image_url_form
  %h4 Paste in the URL of an image from Google Photos

  = FileReceiptPresenter.create_upload_form(self, 'receipt-image-url-form', :file_receipts) do |receipt_form_presenter|
    .form-group
      = receipt_form_presenter.text_field :image_receipt_url, class: 'form-control',
                                                              data: { target: 'receipt.imageReceiptUrl', name: 'file_receipt[image_receipt_url]' }

    .form-group
      = receipt_form_presenter.receipt_size_radio_group

    .form-group.btn-toolbar{ align: 'center' }
      = receipt_form_presenter.submit 'Fetch Image', class: 'btn btn-primary mx-auto'
      = receipt_form_presenter.cancel_btn